<mat-toolbar id="header" color="primary">
    <button mat-icon-button aria-label="Go to events" routerLink="/events">
        <mat-icon>home</mat-icon>
    </button>
    <mat-form-field appearance="standard">
        <mat-icon id="search-icon" aria-hidden="false" aria-label="Search icon" fontIcon="search"></mat-icon>
        <input id="search-input" matInput placeholder="Search" type="text" (input)="onSearchInput($event)">
    </mat-form-field>    
    <button mat-icon-button aria-label="Filter the events">
        <mat-icon>filter_alt</mat-icon>
    </button>
    <button id="shopping_cart_btn" mat-icon-button aria-label="Go to shopping cart" routerLink="/shoppingcart">
        <mat-icon matBadge={{shoppingCart.getEventsCount()}} [matBadgeHidden]="shoppingCart.getEventsCount() === 0" matBadgeColor="warn" matBadgePosition="after">shopping_cart</mat-icon>
    </button>
</mat-toolbar>