<mat-card>
    <mat-card-header>
        <img class="avatar-image" mat-card-avatar src="../../../assets/avatar.png" alt="Avatar image">
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <img class="flyer-image" mat-card-image src={{flyer}} alt="flyer of {{title}}">
    <mat-card-content>
        <a href={{venueDirection}} target="_blank">
            <h3>
                <mat-icon class="location-icon">location_on</mat-icon>
                {{venueName}}
            </h3>
        </a>
        <p>Starts: {{startTime | date: 'dd.MM.YYYY, HH:mm' }}</p>
        <p>Ends: {{endTime | date: 'dd.MM.YYYY, HH:mm'}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button class="add-event-btn" mat-mini-fab color="primary" aria-label="Add event to shopping cart"  (click)="shoppingCart.addEventToShoppingCart(id)">
            <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
</mat-card>
