mat-card
    width: 250px
    height: 500px
    margin-bottom: 25px

.flyer-image
    object-fit: fill
    height: 300px

.add-event-btn
    position: absolute
    right: 8px
    bottom: 8px

.location-icon
    color: #3e51b5

.avatar-image
    width: 30px
    height: 30px