<mat-list>
  <div mat-list-item *ngFor="let date of eventsData.getDates()">
    <h2 *ngIf="getEventsByDateAndKeyword(date).length > 0">
      {{ date | date: "EEE MMM dd YYYY" }}
    </h2>
    <div class="events-container">
      <app-event-card
        *ngFor="let event of getEventsByDateAndKeyword(date)"
        id="{{ event._id }}"
        title="{{ event.title }}"
        flyer="{{ event.flyerFront }}"
        venueName="{{ event.venue.name }}"
        venueDirection="{{ event.venue.direction }}"
        date="{{ event.date }}"
        startTime="{{ event.startTime }}"
        endTime="{{ event.endTime }}"
      ></app-event-card>
    </div>
    <mat-divider></mat-divider>
  </div>
</mat-list>
